.button {
  background-color: $blue;
  font-size: $font-size-large;
  padding: $s-size;
  color: fade-out(white, .15);
  border: none;
  font-weight: 300;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

.button--link {
  background-color: transparent;
}

.button--remove {
  background-color: grey;
}